body{
    background-color: #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#produtos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.produto {
	margin: 20px;
	text-align: center;
	width: 200px;
    display: inline;
}

.imagem-produto {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.nome-produto {
	margin-top: 10px;
	font-size: 20px;
}

.descricao-produto {
	margin-top: 10px;
	font-size: 16px;
}

.preco-produto {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

input{
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    
 
     
 }
 
 .cor1{
     background-color: #666666;
 }

 footer {
    background-color: #aaaaaa;
    padding: 20px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .fa {
    font-size: 20px;
    vertical-align: middle;
  }
  
